body 
{
	border: 0px solid palegreen;
    text-align: center;
    padding: 100px;
    background-image: url(https://images.pexels.com/photos/399161/pexels-photo-399161.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    image-orientation: flip;
    background-size:100%;
    width:auto;
    height:auto;
    background-repeat: no-repeat;
    color: red;
    margin-left: auto;
    margin-right: auto;
}
input{
    background-color: aqua;
    color: black;
    

}